.card-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  right: 0;
  background-color: #dad1d1;
  width: 70%;
  z-index: 9999;
  margin: 1rem;
  border-radius: 16px;
  padding: 1rem;
  transition: 0.5s;
  transform: translateX(20%);
}


.card-container:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
}

.cards {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.heading {
  color: var(--dark-900);
  width: 20rem;
  font-family:  Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
  line-height: 45px;
  font-size: 3vmax;
  font-weight: 720;
  text-align: center;
  transition: 0.5s;
}
.image {
  width: 250px;
  height: 250px;
  border-radius: 12px;
  object-fit: contain;
}
.name {
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
  padding: 10px;
  color: var(--dark-900);
  text-align: center;
  border: 1px solid var(--dark-900);
  transition: 0.5s;
}

.name:hover,
.heading:hover {
  color: #006dff;
  cursor: pointer;
  transition: 0.5s;
}



@media (max-width: 768px) {
  .card-container{
    flex-direction: column;
    background: #fff;
    margin: 0 1vmax; 
   width: 90%; 
   transform: translateX(3%);
  }
 
  .image{
    height: 150px;
    width: 150px;
  }
  .heading{
    font-weight:800;

  }
}