.my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* margin-left: -30px; */
    width: auto;
}
.my-masonry-grid_column {
    padding-left: 30px;
}
.my-masonry-grid_column:first-child {
    padding-left: 0;
  }
